<div class="card item1">
    <div class="card-header">
        <div id="widget-box-1" class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i id="widget-icon-1" class="material-icons opacity-10"></i>
        </div>
        <p id="widget-title-1" class="text-end"></p>
        <h6 id="widget-value-1" class="text-end"></h6>
    </div>
    <hr class="dark horizontal my-0">
    <div class="card-footer">
        <p id="widget-text-1">
            <span id="widget-text-value-1" class="text-sm font-weight-bolder"></span>
        </p>
    </div>
</div>
<div class="card item2">
    <div class="card-header">
        <div id="widget-box-2" class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i id="widget-icon-2" class="material-icons opacity-10"></i>
        </div>
        <p id="widget-title-2" class="text-end"></p>
        <h6 id="widget-value-2" class="text-end"></h6>
    </div>
    <hr class="dark horizontal my-0">
    <div class="card-footer">
        <p id="widget-text-2">
            <span id="widget-text-value-2" class="text-sm font-weight-bolder"></span>
        </p>
    </div>
</div>
<div class="card item3">
    <div class="card-header">
        <div id="widget-box-3" class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i id="widget-icon-3" class="material-icons opacity-10"></i>
        </div>
        <p id="widget-title-3" class="text-end"></p>
        <h6 id="widget-value-3" class="text-end"></h6>
    </div>
    <hr class="dark horizontal my-0">
    <div class="card-footer">
        <p id="widget-text-3">
            <span id="widget-text-value-3" class="text-sm font-weight-bolder"></span>
        </p>
    </div>
</div>
<div class="card item4">
    <div class="card-header">
        <div id="widget-box-4" class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
            <i id="widget-icon-4" class="material-icons opacity-10"></i>
        </div>
        <p id="widget-title-4" class="text-end"></p>
        <h6 id="widget-value-4" class="text-end"></h6>
    </div>
    <hr class="dark horizontal my-0">
    <div class="card-footer">
        <p id="widget-text-4">
            <span id="widget-text-value-4" class="text-sm font-weight-bolder"></span>
        </p>
    </div>
</div>